<<<<<<< HEAD
html, body {
 margin:0;
 padding:0;
 width:100%;
 height:100%;
}

body{
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 background-image: url(../images/cafe.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

#content{
    width: 20%;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 0.5em;
    background-image:url(../images/coffee.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: white;
    color: black;
}

h1, h2{
 font-family: Georgia, "Times New Roman", Times, serif;
 color: #666;
}

h1{
 font-size: 1.5em;
}

h2{
 font-size: 1.25em;
}




=======
html, body {
 margin:0;
 padding:0;
 width:100%;
 height:100%;
}

body{
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 background-image: url(../images/cafe.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

#content{
    width: 20%;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 0.5em;
    background-image:url(../images/coffee.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: white;
    color: black;
}

h1, h2{
 font-family: Georgia, "Times New Roman", Times, serif;
 color: #666;
}

h1{
 font-size: 1.5em;
}

h2{
 font-size: 1.25em;
}




>>>>>>> 2dab708db16b1736932019829fe7bc5268c2452a
