<<<<<<< HEAD
table{
	width: 60%;
	margin: 5% auto;
	border-collapse: collapse;
}
th, td{
	border-left: 1px solid #336633;
	border-right: 1px solid #336633;
	padding: 0.4em;
}
thead{
	background-color: #339933;
	color: white;
}
tbody td{
	text-align: center;
}
tbody td:nth-child(4){
	font-style: italic;
}
tbody tr:nth-child(even){
	background-color: #88ee88;
}
tbody tr:nth-child(odd){
	background-color: #99ff99;
}
thead th:first-child, tbody th{
	text-align: left;
}
tbody tr:hover{
	background-color: #336633;
=======
table{
	width: 60%;
	margin: 5% auto;
	border-collapse: collapse;
}
th, td{
	border-left: 1px solid #336633;
	border-right: 1px solid #336633;
	padding: 0.4em;
}
thead{
	background-color: #339933;
	color: white;
}
tbody td{
	text-align: center;
}
tbody td:nth-child(4){
	font-style: italic;
}
tbody tr:nth-child(even){
	background-color: #88ee88;
}
tbody tr:nth-child(odd){
	background-color: #99ff99;
}
thead th:first-child, tbody th{
	text-align: left;
}
tbody tr:hover{
	background-color: #336633;
>>>>>>> 2dab708db16b1736932019829fe7bc5268c2452a
}