<<<<<<< HEAD
p {
    color: navy;
}

header {
   margin:0;
   padding:0 !important;
   background-color:navy;
 }
 
 h1 {
   font-size: x-large;
   color: white;
   padding-top: 2em;
   padding-bottom: .2em;
   padding-left: .4em;
   margin: 0;
   background: navy url(../images/backgrounds/header-bg.jpg) repeat-y right bottom;
 }
 
 h2 {
   padding-top:.5em;
   color: navy;
   font-size: 130%;
   font-weight: normal;
 }
 
 h1, h2, h3 {
   font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
 }
 
ul {
	list-style-type:none;
}
nav ul {
	list-style-type:none;
  padding: 0;
}

nav ul li {
 padding: 10px 20px;
}

nav ul li a:link, nav ul li a:visited {
  color: white;
  text-decoration: none;
}
  
nav ul li a:hover  {
  text-decoration: underline;
}

nav ul li a:active {
    color: navy;
    text-decoration: none;
}


p a:link, a:visited {
   color: blue;
}

p a:hover {
   text-decoration:none;
}

#tagline {
  background: #bed8f3 url(../images/backgrounds/tagline-fade.jpg) repeat-y right;
   font-style: italic;
   font-family: Georgia, Times, serif;
   border-top: 3px solid #7da5d8;
   border-bottom: 3px solid #7da5d8;
   padding-top: .2em;
   padding-bottom: .2em;
   padding-left: .8em;
   margin: 0;
 }

 .fun {
   color: #339999;
   font-family: Georgia, Times, serif;
   letter-spacing: 0.05em;
 }

 body, html {
   margin:0;
   padding:0;
   width:100%;
   height:100%;
 } 
 
 body {
   font-family: Verdana, Helvetica, Arial, sans-serif;
   background-color: #e2edff;
   line-height: 125%;
 }
 #container {
   width: 80%;
   margin: 0 auto;
}
img.feature {
  float:right;
  margin-left: 1%;
}
#content {
	display: flex;
}

nav {
	flex: 1;
	height: 484px;
    background:  url(../images/backgrounds/nav-bg.jpg) no-repeat;
}

main {
  flex:5;
  padding-left:1em;
}
table#events th, table#events td {
  padding: .3em;
  border:solid black 1px;
}

table#events {
  border-collapse: collapse;
  border:solid black 1px;
  width:95%;
}

table#events th {
  font-size: medium;
  text-align: left;
  background: #241374;
  color: #ffffff;
  border-color:#000066;
  padding: 0 .5em;
}

table#events td {
  font-size: small;
}

table.events caption {
  color: #000066;
  font-size: small;
  font-weight: bold;
  text-align: left;
  padding-bottom: .5em;
}

table#events tr:nth-of-type(even){
  background-color: #ADD8E6;
}
table#events tr:nth-of-type(odd) {
  background-color:#B0C4DE;
}

table#events tr:hover {
  background: #c5e3ed;
}
figure {
  border-bottom: 1px solid navy;
  margin-bottom: 2%;
}

figcaption {
  color:navy;
  font-size: 75%;
  font-weight: bold;
  margin-top: 0;
  width: 90%;
  line-height: 1.4em;
}

figcaption span {
  font-weight: normal;
  color: gray;
}

.form-row {
  display: flex;
}

label {
flex: 0 1 20%;
font-weight: bold;
font-size: small;
color:blue;
}

form input,
form  select {
 flex: 1; 
 padding: .5em;
 margin-bottom: 1em;
}

form button {
 padding: 1em; 
 background: blue;
 color: white;
 border: 0;
border-radius:5%;
}

form fieldset {
  border: 0; 
}

.check > label {
 display: block;
}

form {
margin-bottom:1em;
}

=======
p {
    color: navy;
}

header {
   margin:0;
   padding:0 !important;
   background-color:navy;
 }
 
 h1 {
   font-size: x-large;
   color: white;
   padding-top: 2em;
   padding-bottom: .2em;
   padding-left: .4em;
   margin: 0;
   background: navy url(../images/backgrounds/header-bg.jpg) repeat-y right bottom;
 }
 
 h2 {
   padding-top:.5em;
   color: navy;
   font-size: 130%;
   font-weight: normal;
 }
 
 h1, h2, h3 {
   font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
 }
 
ul {
	list-style-type:none;
}
nav ul {
	list-style-type:none;
  padding: 0;
}

nav ul li {
 padding: 10px 20px;
}

nav ul li a:link, nav ul li a:visited {
  color: white;
  text-decoration: none;
}
  
nav ul li a:hover  {
  text-decoration: underline;
}

nav ul li a:active {
    color: navy;
    text-decoration: none;
}


p a:link, a:visited {
   color: blue;
}

p a:hover {
   text-decoration:none;
}

#tagline {
  background: #bed8f3 url(../images/backgrounds/tagline-fade.jpg) repeat-y right;
   font-style: italic;
   font-family: Georgia, Times, serif;
   border-top: 3px solid #7da5d8;
   border-bottom: 3px solid #7da5d8;
   padding-top: .2em;
   padding-bottom: .2em;
   padding-left: .8em;
   margin: 0;
 }

 .fun {
   color: #339999;
   font-family: Georgia, Times, serif;
   letter-spacing: 0.05em;
 }

 body, html {
   margin:0;
   padding:0;
   width:100%;
   height:100%;
 } 
 
 body {
   font-family: Verdana, Helvetica, Arial, sans-serif;
   background-color: #e2edff;
   line-height: 125%;
 }
 #container {
   width: 80%;
   margin: 0 auto;
}
img.feature {
  float:right;
  margin-left: 1%;
}
#content {
	display: flex;
}

nav {
	flex: 1;
	height: 484px;
    background:  url(../images/backgrounds/nav-bg.jpg) no-repeat;
}

main {
  flex:5;
  padding-left:1em;
}
table#events th, table#events td {
  padding: .3em;
  border:solid black 1px;
}

table#events {
  border-collapse: collapse;
  border:solid black 1px;
  width:95%;
}

table#events th {
  font-size: medium;
  text-align: left;
  background: #241374;
  color: #ffffff;
  border-color:#000066;
  padding: 0 .5em;
}

table#events td {
  font-size: small;
}

table.events caption {
  color: #000066;
  font-size: small;
  font-weight: bold;
  text-align: left;
  padding-bottom: .5em;
}

table#events tr:nth-of-type(even){
  background-color: #ADD8E6;
}
table#events tr:nth-of-type(odd) {
  background-color:#B0C4DE;
}

table#events tr:hover {
  background: #c5e3ed;
}
figure {
  border-bottom: 1px solid navy;
  margin-bottom: 2%;
}

figcaption {
  color:navy;
  font-size: 75%;
  font-weight: bold;
  margin-top: 0;
  width: 90%;
  line-height: 1.4em;
}

figcaption span {
  font-weight: normal;
  color: gray;
}

 
>>>>>>> 2dab708db16b1736932019829fe7bc5268c2452a
