body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  line-height: 100px;
  float:left
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.clear-box {
  background-color: lightgray;
  padding: 20px;
  clear:left
}
