html,body {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
}

body {
  font-size:16px;
}

.ui.container {
  margin-top:2em;
}

.ui.tabular.menu {
  border-radius: 0;
  box-shadow: none !important;
  border: red;
  background: none transparent;
  border-bottom: 1px solid #d4d4d5;
}
.ui.tabular.menu .item {
  background: transparent;
  border-bottom: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 2px solid transparent;
  padding: 0.92857143em 1.42857143em;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
 

}
.ui.tabular.menu .item:hover {
  background-color: transparent;
  color: white;
  background-color: pink;
  border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
}
.ui.tabular.menu .active.item {
  background: none red;
  color: white;
  border-top-width: 1px;
  border-color: red;
  font-weight: bold;
  margin-bottom: -1px;
  box-shadow: none;
  border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
}